body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.backgroundPix {
    background-image: url(/static/img/background.jpg);
    /* background-position: center; */
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.title {
    text-decoration: none !important;
    font-size: 2em;
    padding-left: 1em;
    color: white;
    font-weight: bold;
}

.titleHead {
    background-color: rgba(1,112,192,0.7);
}

.titleFont {
    font-size: 3em;
    color:rgb(1,112,192);
    font-weight: bold;
}

.titleText{
    text-align: center;
    margin-top:10em;
    margin-bottom: 2em;
}

.box-border{
    margin-top:2em;    
    box-shadow: 5px 5px 30px;
    border-radius: 10px;
}

.formTitle{
    text-align: center;
    color:  rgb(1,112,192);
    margin-top: 0.5em;
}

.uniRankRadio{
    margin-bottom: 1em;
}

.sectionMargin{
    margin-bottom: 20px;
}

.nonRadio{
    position: relative !important;
    opacity: 100 !important;
    cursor: pointer !important;
    height: auto !important;
    width: auto !important;
}