{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSCRS </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/recommendation.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/recommendation.css' %}">
    <script>
        var loadingurl = "{% static 'img/loading.gif' %}";
    </script>
</head>

<body>
    <div class="w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge titleHead">
        <a href="/" class="title" >OSCRES</a>
        </div>
    </div>
    <!-- Content -->
    <div>
        {% block content %}
        {% endblock %}
        <br />
        <br />
    </div>
    <!-- END Content -->

    <footer>
        <div class="base-footer">
            Power by © 2020 NUS Practice Developer Group28 All Rights Reserved
        </div>
    </footer>
</body>

</html>