{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div class="container box-border">
  <div class="col-md-12">
    <h1 class="formTitle"><b>Course Chatbot</b></h1>
</div>
  <div id="app" class="container-fluid top-padding">
    <div class="row">
      <div class="col-md-12">
        <div id="chatContent" class="card message-box" style="background-color: rgb(232, 232, 232); min-height: 30em;">
          <div class="chat-message">
            Welcome to course chatbot, please enter your question.
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <input type="text" id="question" class="form-control nonRadio" placeholder="Send a message to the chatbot..."
            aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="sendChat">Send</button>
            <button class="btn btn-outline-secondary" type="submit" id="sampleQuestions">Sample Questions</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}